*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}


a{
    text-decoration: none;
    transition: 200ms ease;
}

a:hover{
    color: #a27b5b;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav ul li{
    display: inline;
}

#right-links #left-links li{
    margin-right: 0.5rem;
}

#first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1790017533787-7d73d5da3c27?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    color: white;
}

#home-content{
    padding: 1rem;
    
}

#home-content h1{
    margin-bottom: 1rem
}

.btn-cta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem;
    background-color: #ffffff;
    align-items: center;
    border-radius: 3rem;
    cursor: pointer;
}

.btn-cta a{
    text-decoration: none;
    font-weight: 800;
    color: #2c3639;
    margin-left: 1rem;
}

#btn-icon{
    display: flex;
    height: 2rem;
    width: 2rem;
    background-color: #dcd7ca;
    color: #2c3639;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#second{
    display: flex;
    padding: 6rem 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#second h2{
    margin-bottom: 2.3rem;
}

.btn-more{
    display: block;
    box-sizing: border-box;
    padding: 0.6rem 1rem;
    border: 1px solid #2c3639;
}

.btn-more a{
    color: #2c3639;
}
